<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db2.ex1.dao.RentDAO">
	
	<resultMap type="db2.ex1.model.vo.Rent" id="RentMap">
		<id property="num" column="re_num"/>
		<result property="id" column="re_me_id"/>
		<result property="code" column="re_bo_code"/>
	</resultMap>
	
	<select id="selectRent" resultMap="RentMap">
		select * from rent
		where
			re_me_id = #{rent.id} and re_bo_code = #{rent.code}
	</select>
	
	<insert id="rentBook">
		insert into rent(re_me_id, re_bo_code)
		values(#{rent.id}, #{rent.code})
	</insert>
</mapper>